<div class="page-wrapper">
    
      <div class="page-header">
        <h1><a ui-sref="home"><img class="logo-img" src="../../assets/logo.png" /></a> Log In</h1>
      </div>
    
      <form #loginForm="ngForm">
        <div class="input-group">
          <input type="email" class="form-control" name="email" placeholder="Email" ngModel>
        </div>
        <div class="input-group">
          <input type="password" class="form-control" name="password" placeholder="Password" ngModel>
        </div>
        <input type="submit" [(disabled)]="!loginForm.form.valid" class="btn btn-default" (click)="login(loginForm.value)" value="Log In">
      </form>
    
    </div>