<div class="message-pane">
  <div class="row">
<div class="header">
    <h1>{{ channelName }}</h1>
</div>
  
  <div class="message-wrap" *ngFor="let message of messages">
    <img class="user-pic"/>
    <div class="message-info">
      <div class="user-name">
        {{ message.userName }}
        <span class="timestamp">{{ message.timeSent }}</span>
      </div>
      <div class="message">
       {{ message.message }}
      </div>
    </div>
  </div>
  
  <form class="message-form" #messageForm="ngForm">
    <div class="input-group">
      <input type="text" class="form-control" name="message" [(ngModel)]="message" placeholder="Type a message...">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="sendMessage()" type="submit">Send</button>
      </span>
    </div>
  
  </form>
</div>
</div>