<div class="main">
  <div class="sidebar">
    <div class="slack-name">
      <h2>MySlack</h2>
    </div>
    <div class="channel-list">
      <div class="list-head">Channels</div>
      <div class="channel" *ngFor="let channel of channels; let i = index" >
          <a 
          [ngClass]="{'selected': selectedIndex == i}" 
          name="{{channel.name}}" 
          (click)="selectedItem(i, channel.channelId)"
          [routerLink]="[{outlets: {'auxoutlet': ['message', channel.channelId]}}]"
          ># {{ channel.name }}</a>
      </div>
      <div class="channel create">
          <a [routerLink]="[{outlets: {'auxoutlet': ['create']}}]">+ create channel</a>
      </div>
    </div>
    <div class="my-info">
      <img class="user-pic" src="../../assets/logo.png" />
      <div class="user-info">
        <div class="user-name">  
        </div>
        <div class="options">
          <a ui-sref="profile">edit profile</a>
          /
          <a href="#">logout</a>
        </div>
      </div>
    </div>

  </div>
</div>