<div class="container">
    <div class="page-header">
      <h1>Manage Profile</h1>
    </div>
    <form class="form-inline" >
      <p>
        Please define a display name before you can start chatting.
      </p>
      <div class="form-group">
        <label class="" for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" placeholder="Enter username" ng-model="profileCtrl.profile.displayName">
      </div>
      <button type="submit" class="btn btn-primary">Set Display Name</button>
    </form>
  
  </div>